<ion-view view-title="Datos Cliente">
    <ion-content>

        <ion-list>
            <div ng-repeat="group in groups">
                <ion-item class="item-stable"
                          ng-click="toggleGroup(group)"
                          ng-class="{active: isGroupShown(group)}">
                    <i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'"></i>
                    &nbsp;
                    Grupo {{group.name}}
                </ion-item>
                <ion-item class="item-accordion"
                          ng-repeat="item in group.items"
                          ng-show="isGroupShown(group)">
                    {{item.subId}}
                    <!--<a href="#/app/issues/{{issue.id}}" >-->
                        <!-- -->
                    <!--</a>-->
                </ion-item>
            </div>
        </ion-list>

    </ion-content>

</ion-view>



