<ion-view view-title="Datos Cliente">
    <ion-content>

        <div class="list">

                <label class="item item-input">
                    <span class="input-label">Nombre</span>
                    <input type="text">
                </label>
                <label class="item item-input">
                    <span class="input-label">Direccion</span>
                    <input type="password">
                </label>
                <label class="item item-input">
                    <span class="input-label">Location</span>
                    <input type="password">
                </label>

                <!--<label class="item">-->
                    <!--<button class="button button-block button-positive" type="submit">Aceptar</button>-->
                <!--</label>-->

        </div>

    </ion-content>

</ion-view>



