<ion-view view-title="DASHBOARD">
    <ion-content>
        <div class="list card">

            <div class="item item-icon-left">Pendientes por resolver: {{Mydash.numeroPendientes}}</div>

            <a href="#/app/issues/{{item.id}}" class="item item-icon-left" ng-class="item.color" ng-repeat="item in Mydash.data | issuesFilter">
                <i class="icon ion-android-alert"></i>
                {{item.info}}<br>
                {{item.comments}}<br>
                Estado: {{Mydash.opciones[item.status]}}
            </a>

            <!--<a href="#" class="item item-icon-left list-yellow">-->
                <!--<i class="icon ion-android-happy"></i>-->
                <!--OPEN: Dia Actual - Sin Atencion-->
            <!--</a>-->

            <!--<a href="#/app/issues/1" class="item item-icon-left list-red">-->
                <!--<i class="icon ion-android-alert"></i>-->
                <!--<div class="item-text-wrap">OPEN: Mas de un dia - Sin atencion-->
                    <!--OPEN: Mas de un dia - Sin atencion-->
                    <!--OPEN: Mas de un dia - Sin atencion</div>-->
            <!--</a>-->

            <!--<a href="#" class="item item-icon-left list-purple">-->
                <!--<i class="icon ion-alert-circled"></i>-->
                <!--PENDIENTE: Mas de un dia - Sin atencion-->
            <!--</a>-->

            <!--<a href="#" class="item item-icon-left list-orange">-->
                <!--<i class="icon ion-alert"></i>-->
                <!--PENDIENTE: Dia Actual - Sin atencion-->
            <!--</a>-->

            <!--<a href="#/app/issues/1" class="item item-icon-left list-red">-->
                <!--<i class="icon ion-android-alert"></i>-->
                <!--<div class="item-text-wrap">OPEN: Mas de un dia - Sin atencion-->
                    <!--OPEN: Mas de un dia - Sin atencion-->
                    <!--OPEN: Mas de un dia - Sin atencion</div>-->
            <!--</a>-->
            <!--<a href="#" class="item item-icon-left list-purple">-->
                <!--<i class="icon ion-alert-circled"></i>-->
                <!--PENDIENTE: Mas de un dia - Sin atencion-->
            <!--</a>-->


        </div>
    </ion-content>
</ion-view>

