<ion-view view-title="Detalle Issue">
    <ion-content>
        <div class="card">

            <div class="item item-divider">
                {{midetail.data.info}}

            </div>
            <div class="item item-text-wrap">
                Fecha Asignacion: {{midetail.data.assignationDate | date:'MM/dd/yyyy'}}
            </div>
            <div class="item item-text-wrap">
                {{midetail.data.comments}}
            </div>
            <div class="item item-divider">
                Estado: <b>{{midetail.opciones[midetail.data.status]}}</b>
            </div>
        </div>

        <input type="submit" ng-click="midetail.aceptar()" value="Save" />

    </ion-content>
</ion-view>