<ion-view view-title="Lista de Issues">
    <ion-content>



        <label class="item item-input item-select" >
            <div class="input-label">
                Ordenado Por: <b>{{Myissues.filtro}}</b>
            </div>
            <select ng-model="Myissues.filtro" ng-change="Myissues.ordenar()">
                <option selected>Fecha</option>
                <option >Estado</option>

            </select>
        </label>

<div class="list" ng-repeat="issue in Myissues.data">

    <a class="item item-avatar stable-bg"  href="#/app/issues/{{issue.id}}" >
        <img src="">
        <h2>{{issue.info}}</h2>
        <p>{{issue.comments}}</p>
        <p>Cliente: {{issue.client.name}}</p>
        <p>Fecha: {{issue.assignationDate | date:'MM/dd/yyyy'}} - Estado: <b>{{Myissues.opciones[issue.status]}}</b></p>
    </a>

</div>

    </ion-content>

</ion-view>