<ion-view view-title="Mapa">
    <ion-content>
{{mimapa.lon}}
        <ui-gmap-google-map center='mimapa.map.center' zoom='mimapa.map.zoom'>

            <ui-gmap-marker coords="mimapa.marker.coords" options="mimapa.marker.options" idkey="mimapa.marker.id" icon="mimapa.marker.urlIcono">
                <ui-gmap-window options="windowOptions" closeClick="closeClick()">
                    <div>Posicion Actual - {{mimapa.lat}} - {{mimapa.lon}}</div>
                </ui-gmap-window>
            </ui-gmap-marker>

            <!--<ui-gmap-markers models="mimapa.marcadores" coords="'coordenadas'" icon="'imgURL'">-->
                <!--<ui-gmap-windows show="show">-->
                    <!--<div ng-non-bindable>{{stationName}} - {{distancia}} Km</div>-->
                <!--</ui-gmap-windows>-->
            <!--</ui-gmap-markers>-->

        </ui-gmap-google-map>

        <input type="submit" ng-click="mimapa.aceptar()" value="Activar Localizacion" />

    </ion-content>
</ion-view>

