/* Empty. Add your own CSS if you like */
.angular-google-map-container { height: 550px; width: 400px; }
/*Lista de Avatar item*/
.list .item-avatar.list-yellow {
    color: #FFF;
    background-color: rgba(244, 244, 0, 0.33);
}

.list .item-avatar.list-red {
    color: #FFF;
    background-color: rgba(244, 10, 20, 0.5);
}

.list .item-avatar.list-purple {
    color: #FFF;
    background-color: rgba(213, 115, 244, 0.5);
}

.list .item-avatar.list-orange {
    color: #FFF;
    background-color: rgba(244, 172, 38, 0.66);
}

/*Lista de Icon left item*/
.list .item-icon-left.list-yellow {
    color: #ffb015;
    background-color: rgba(244, 244, 0, 0.33);
}

.list .item-icon-left.list-red {
    color: #b90800;
    background-color: rgba(244, 10, 20, 0.5);
}

.list .item-icon-left.list-purple {
    color: #7b1897;
    background-color: rgba(213, 115, 244, 0.5);
}

.list .item-icon-left.list-orange {
    color: #964200;
    background-color: rgba(244, 172, 38, 0.66);
}






.list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
    line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}